<header class="border-b border-gray-400 py-4">
  <div
    class="container max-w-[1200px] mx-auto flex justify-between items-center"
  >
    <a routerLink="/">Logo</a>

    <nav>
      <ul class="flex items-center">
        <li>
          <a
            routerLink="/amity"
            class="ml-5 inline-block hover:text-blue-400 transition"
          >
            Amity
          </a>
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-5 inline-block hover:text-blue-400 transition"
          >
            About
          </a>
        </li>
        <li>
          <a
            routerLink="/posts"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-5 inline-block hover:text-blue-400 transition"
          >
            Posts
          </a>
        </li>

        <li>
          <a
            routerLink="/projects"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-5 inline-block hover:text-blue-400 transition"
          >
            Projects
          </a>
        </li>
        <li>
          <a
            routerLink="/contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-5 inline-block hover:text-blue-400 transition"
          >
            Contact
          </a>
        </li>
        @if(!isAuthenticated) {
        <li>
          <a
            routerLink="/sign-in"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-5 inline-block transition py-2 px-4 border border-blue-400 bg-white text-blue-400 rounded-md hover:text-white hover:bg-blue-400"
          >
            Sign in
          </a>
        </li>
        <li>
          <a
            routerLink="/sign-up"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-2 inline-block transition py-2 px-4 border border-blue-400 bg-blue-400 text-white rounded-md hover:text-blue-400 hover:bg-white"
          >
            Sign up
          </a>
        </li>
        } @else {
        <li>
          <app-profile-dropdown></app-profile-dropdown>
        </li>
        }
      </ul>
    </nav>
  </div>
</header>
