<header class="border-b border-gray-400 py-4">
  <div
    class="container max-w-[1200px] mx-auto flex justify-between items-center"
  >
    <a routerLink="/">Logo</a>

    <nav>
      <ul class="flex">
        <li>
          <a
            routerLink="/posts"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-5 inline-block hover:text-blue-400 transition"
            >Posts</a
          >
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-5 inline-block hover:text-blue-400 transition"
            >About</a
          >
        </li>
        <li>
          <a
            routerLink="/projects"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-5 inline-block hover:text-blue-400 transition"
            >Projects</a
          >
        </li>
        <li>
          <a
            routerLink="/services"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-5 inline-block hover:text-blue-400 transition"
            >Services</a
          >
        </li>
        <li>
          <a
            routerLink="/contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="ml-5 inline-block hover:text-blue-400 transition"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
