<h1 class="text-center text-3xl mb-5">Posts</h1>

<form class="mb-10">
  <input
    name="Search"
    type="search"
    placeholder="Search..."
    class="w-full p-2 border border-gray-300 rounded-md"
    [(ngModel)]="searchText"
    (input)="filterPosts()"
  />
</form>

<app-loader *ngIf="isLoading"></app-loader>

<ul *ngIf="filteredPosts.length" class="flex flex-wrap gap-5 justify-between">
  <li
    *ngFor="let post of filteredPosts"
    class="max-w-[360px] p-4 border border-gray-300 rounded-md"
  >
    <app-post-card [post]="post"></app-post-card>
  </li>
</ul>

<app-not-found *ngIf="!filteredPosts.length && !isLoading"></app-not-found>
